---
import Layout from '../layouts/Layout.astro';

---

<Layout title="よこそ真岡市へ">
	<main>
		<h1>真岡に行こう！</h1>
		<p class="instructions">
		真岡市、四月の平均気温は？
		</p>
		<table border="1" style="border-collapse: collapse">	
					
			<tr class="graph_title">
				<td class="item">年度</td>
				<td class="item">平均気温</td>
				<td class="item">最高気温</td>
				<td class="item">最低気温</td>
			</tr>
			<tr>
				<td>2018年</td>
				<td class="temp">14.7℃</td>
				<td class="temp">30.0℃</td>
				<td class="temp">-0.1℃</td>
			</tr>
			<tr>
				<td>2019年</td>
				<td class="temp">11.4℃</td>
				<td class="temp">26.6℃</td>
				<td class="temp">-3.9℃</td>
			</tr>
			<tr>
				<td>2020年</td>
				<td class="temp">10.7℃</td>
				<td class="temp">23.7℃</td>
				<td class="temp">-1.4℃</td>
			</tr>
			<tr>
				<td>2021年</td>
				<td class="temp">12.8℃</td>
				<td class="temp">25.8℃</td>
				<td class="temp">0.5℃</td>
			</tr>
			<tr>
				<td>2022年</td>
				<td class="temp">13.7℃</td>
				<td class="temp">28.8℃</td>
				<td class="temp">-3.1℃</td>
			</tr>
		
		</table>
		<p class="instructions">
			日中は温かくて、夜はさむ～いので長袖は持っていきましょう！
		</p>
	
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.graph_title {
		text-align: center;			
	}

	.item {
		padding: 0.5rem;
		font-weight: bold;
	}

	.temp {
		text-align: right;
		padding: 0.4rem;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
